@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-background: #0a0b11;
  --color-foreground: #eee;
}

html {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
